.container-fluid{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
    width: 70%;
    margin:auto;
    height: 80vh;
}

#principale{
    width: 79%;
}
#laterale{
    width: 20%;
}

img{
    width: 100%;
    height: 100%;
}

.laterale>img{
    height: calc(100% / 5);
    opacity: 60%;
}

.laterale{
    position: relative;
}
.laterale > div{
    position: absolute;
    background-color: white;
    border: 1px white solid;
    border-radius: 25px;
    padding: 2px 6px;
    cursor: pointer;
    color: black;
    z-index: 2;
}

.laterale > div:nth-child(1){
    top: 20px;
}

.laterale > div:nth-child(2){
    bottom: 20px;
}

.active{
    display:block;
}
.hidden{
    display: none;
}
.laterale>img.active{
    opacity: 100%;
    border: 5px solid white;
}